<p id="notice"><%= notice %></p>

<h1>Grettings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grettings.each do |gretting| %>
      <tr>
        <td><%= gretting.name %></td>
        <td><%= gretting.message %></td>
        <td><%= link_to 'Show', gretting %></td>
        <td><%= link_to 'Edit', edit_gretting_path(gretting) %></td>
        <td><%= link_to 'Destroy', gretting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gretting', new_gretting_path %>
