<h1>Grettings</h1>

    <p id="notice"><%= notice %></p>
      <%= render("form", gretting: Gretting.new) %>
    <br/>

    <% @grettings.each do |gretting| %>
      <div class="media">
        <img src="<%= gravatarized_url(gretting.name) %>"
        class="align-self-start mr-3">
        <div class="media-body">
          <h5 class="mt-0"><%= gretting.name %></h5>
          <%= gretting.message %>
        </div>
      </div>
    <br/>
    <% end %>

<br>

<%= link_to 'New Gretting', new_gretting_path %>
